@import './vendor/normalize.css';
@import './vendor/rhytm.scss';

// GLOBALS
html {
  height: 100%;
  color: #222;
  font-family: 'opensans', sans-serif;
  font-size: 16px;
  background: #eee;
}
body, #root {
  height: 100%;
}
::-moz-selection {
  background: #b3d4fc;
}
::selection {
  background: #b3d4fc;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
h1, h2 {
  @extend %rhytm_40_low;
  margin-top: 64px;
}
.noselect {user-select: none;}


// LAYOUT
.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
}
// .app__header {}
.app__body {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
}
.app__footer { flex-shrink: 0; }
.app__container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  height: 100%;
  margin: 0;
}


// CUSTOM STYLES FOR THE FIRST SCREEN
.app__header { height: 64px; }
.app__header h1 { @extend %rhytm_40; }
.app__header p { @extend %rhytm_16; }
.app__header .app__container {
  display: flex;
}
.rhytm_table { @extend %rhytm_table; }
.rhytm_table td { @extend %rhytm_table__td16; }

.fs_16 { @extend %rhytm_16; }
.fs_20 { @extend %rhytm_20; }

.PageMain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 768px;
  margin: auto;
  width: 100%;
}

// > Sony Xperia screen
@media screen and (min-width: 541px) {
}

// 960px + 8px*2 mobile paddings
@media screen and (min-width: 976px) {
}

// > Surface pro 4 screen
@media screen and (min-width: 1370px) {
}

// DECISIONS
/* Rhytm */
.PageRhytm {
  text-align: center;
  margin: auto;
  max-width: 768px;
  // padding: 0 16px;
  width: 100%;

  @extend %ruler;
}
.PageRhytm hr {
  @extend %rhytm_hr_64;
}
.fs_12 {
  @extend %rhytm_12;
}
.fs_14 {
  @extend %rhytm_14;
}
.fs_16 {
  @extend %rhytm_16;
}
.fs_16_low {
  @extend %rhytm_16_low;
}
.fs_18 {
  @extend %rhytm_18;
}
.fs_20 {
  @extend %rhytm_20;
}
.fs_20_hi {
  @extend %rhytm_20_64;
}
.fs_24 {
  @extend %rhytm_24;
}
.fs_24_hi {
  @extend %rhytm_24_64;
}
.fs_32 {
  @extend %rhytm_32;
}
.fs_40 {
  @extend %rhytm_40;
}
.fs_48 {
  @extend %rhytm_48;
}
.fs_56 {
  @extend %rhytm_56;
}
.table_16 {
  @extend %rhytm_table;
  min-width: 320px;
}
.table_16 td {
  @extend %rhytm_table__td16_32px;
}
.columns {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 520px;
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
.columns > div {
  background: rgba(255,128,0, .1);
}


/* split header */
.PageSplitHeader {
  flex: 1 0 auto;
  color: #fff;
  background:
    linear-gradient( 90deg, rgba(0, 0, 0, .02) 50%, rgba(0,0,0, .0) 50%),
    linear-gradient( 90deg, rgba(0, 0, 0, .02) 50%, rgba(0,0,0, .0) 50%),
    linear-gradient( 90deg, rgba(0, 0, 0, .02) 50%, rgba(0,0,0, .0) 50%),
    linear-gradient( 90deg, rgba(0, 0, 0, .02) 50%, rgba(0,0,0, .0) 50%),
    linear-gradient( 90deg, rgba(0, 0, 0, .02) 50%, rgba(0,0,0, .0) 50%),
    linear-gradient( 180deg, hsl(200, 100%, 50%),  hsl(20, 100, 50%) 100%);
  background-size:
    3% 1px,
    5% 1px,
    13% 1px,
    17% 1px,
    37% 1px,
    100% 100%;
}
.header-split {
  overflow: hidden;
  text-align: center;
}
.header-split > * {
    position: relative;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
}
.header-split > *:before,
.header-split > *:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    height: 2px;
    margin-top: -1px;
    width: 2000px;
    background: currentColor;
}
.header-split > *:after {
    left: 100%;
    right: auto;
}
