@import url(./vendor/normalize.css);
.fs_12 {
  margin: 0 0 -3px;
  padding: 19px 0 0;
  font-size: 12px;
  line-height: 16px; }

.fs_14 {
  margin: 0 0 -2px 0;
  padding: 18px 0 0;
  font-size: 14px;
  line-height: 16px; }

.app__header p, .fs_16 {
  margin: 0;
  padding: 25px 0 7px;
  font-size: 16px;
  line-height: 32px; }

.fs_16_low {
  padding: 0 0 7px;
  margin: -7px 0 0;
  font-size: 16px;
  line-height: 32px; }

.fs_18 {
  margin: 0;
  padding: 24px 0 8px;
  font-size: 18px;
  line-height: 32px; }

.fs_20 {
  margin: 0;
  padding: 24px 0 8px;
  font-size: 20px;
  line-height: 32px; }

.fs_20_hi {
  margin: 0 0 -8px;
  padding: 8px 0 0;
  font-size: 20px;
  line-height: 64px; }

.fs_24 {
  margin: 0;
  padding: 22px 0 10px;
  font-size: 24px;
  line-height: 32px; }

.fs_24_hi {
  margin: 0 0 -6px;
  padding: 6px 0 0;
  font-size: 24px;
  line-height: 64px; }

.fs_32 {
  margin: 0 0 -3px;
  padding: 67px 0 0;
  font-size: 32px;
  line-height: 64px; }

.app__header h1, .fs_40 {
  margin: 0;
  padding: 64px 0 0;
  font-size: 40px;
  line-height: 64px; }

h1, h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 64px; }

.fs_48 {
  margin: 0;
  padding: 61px 0 3px;
  font-size: 48px;
  line-height: 64px; }

.fs_56 {
  margin: 0;
  padding: 58px 0 6px;
  font-size: 56px;
  line-height: 64px; }

.PageRhytm {
  background: linear-gradient(rgba(0, 0, 0, 0.08) 1px, transparent 1px) left -1px/16px 16px, linear-gradient(rgba(0, 0, 0, 0.12) 1px, transparent 1px) left -1px/64px 64px, white; }

.PageRhytm hr {
  height: 1px;
  border: 0;
  border-top: 1px solid;
  box-sizing: content-box;
  overflow: visible;
  padding: 0;
  margin: 32px 0 30px 0; }

.rhytm_table, .table_16 {
  margin: 0 auto;
  border-collapse: collapse; }

.table_16 td, .rhytm_table td {
  padding: 25px 0 6px 0;
  border-bottom: 1px solid #aaa;
  font-size: 16px;
  line-height: 32px; }

.table_16 td {
  padding: 0;
  line-height: 31px; }

html {
  height: 100%;
  color: #222;
  font-family: 'opensans', sans-serif;
  font-size: 16px;
  background: #eee; }

body, #root {
  height: 100%; }

::-moz-selection {
  background: #b3d4fc; }

::selection {
  background: #b3d4fc; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%; }

h1, h2 {
  margin-top: 64px; }

.noselect {
  user-select: none; }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px; }

.app__body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column; }

.app__footer {
  flex-shrink: 0; }

.app__container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0; }

.app__header {
  height: 64px; }

.app__header .app__container {
  display: flex; }

.PageMain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 768px;
  margin: auto;
  width: 100%; }

/* Rhytm */
.PageRhytm {
  text-align: center;
  margin: auto;
  max-width: 768px;
  width: 100%; }

.table_16 {
  min-width: 320px; }

.columns {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 520px;
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden; }

.columns > div {
  background: rgba(255, 128, 0, 0.1); }

/* split header */
.PageSplitHeader {
  flex: 1 0 auto;
  color: #fff;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(180deg, #00aaff, #ff5500 100%);
  background-size: 3% 1px, 5% 1px, 13% 1px, 17% 1px, 37% 1px, 100% 100%; }

.header-split {
  overflow: hidden;
  text-align: center; }

.header-split > * {
  position: relative;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px; }

.header-split > *:before,
.header-split > *:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  height: 2px;
  margin-top: -1px;
  width: 2000px;
  background: currentColor; }

.header-split > *:after {
  left: 100%;
  right: auto; }
